{% extends "base.html" %}

{% block title %}
    Registro Cuenta
{% endblock title %}

{% block content %}
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
        </div>
    <form action="" method="POST" class="user">
        {% csrf_token %}
        
        {% if messages %}
            {% for mensaje in messages %}
                
                {% if mensaje.tags == 'success' %}
                    <div class="alert alert-success">
                        {{mensaje}} <a href="{% url 'logins' %}">Iniciar sesion</a>
                    </div>
                {% else %}
                    <div class="alert alert-{{ mensaje.tags }}" role="alert">
                        {{mensaje}}
                    </div>
                {% endif %}
                    
                
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="id_username"
                placeholder="Username" name="username">
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user"
                    id="id_password1" name="password1" placeholder="Password" required>
            </div>
            <div class="col-sm-6">
                <input type="password" class="form-control form-control-user"
                    id="id_password2" name="password2" placeholder="Repeat Password">
            </div>
        </div>
        <button class="btn btn-primary btn-user btn-block">
            Register Account
        </button>
    </form>
    
    </div>
</div>


{% endblock content %}
 
    