{% extends 'basetablero.html' %}

{% block title_tablero %}
    Nuevo Registro
{% endblock title_tablero %}

{% block username_tablero %}
    {{request.user}}
{% endblock username_tablero %}
    
{% block subtitle_tablero %}
    Nuevo Peso
{% endblock subtitle_tablero %}

{% block content_tablero %}
    <main class="container">
        <form action="{%url 'createpeso'%}" method="POST" class="row g-3">    
            {% csrf_token %}
            {% if messages %}
                {% for mensaje in messages %}
                    <div class="alert alert-success" role="alert">
                        {{mensaje}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="id_fit_fcregister" class="form-label">Fecha de Registro</label>
                    <input type="date" id="id_fit_fcregister" class="form-control" name="fit_fcregister">
                </div>
                <div class="col-12 mb-3">
                    <label for="id_fit_weight" class="form-label">Peso en Kg</label>
                    <input type="number" id="id_fit_weight" name="fit_weight" class="form-control">
                </div>
                <div class="col-12 mb-3">
                    <label for="id_fit_observation" class="form-label">Observaciones</label>
                    <textarea type="text" id="id_fit_observation" name="fit_observation" class="form-control"></textarea>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-success">
                        Registrar
                    </button>
                </div>
            </div>
        </form>               
       
    </main>
{% endblock content_tablero %}
    
        